body {
  --color-background: #fff;
  --color-text: #000;
  --color-header: #000;

  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

.dark {
  --color-background: #080c12;
  --color-text: #fff;
  --color-header: pink;
}

h1 {
  color: var(--color-header);
}
